<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <div class="menu">
            <a href="" ng-click="gotoGroupAdd()">Add Group</a>
            <a href="" ng-click="gotoGroupIndex()">Up</a>
        </div>

        <div ng-show="page=='groupIndex'">
            <div ng-controller="GroupIndexCtrl">
                <ul>
                    <li ng-repeat="item in items">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show="page=='groupAdd'">
            <div ng-controller="GroupAddCtrl">
                Name:<br />
                <input ng-model="name" />

                <br />
                <br />
                <button ng-click="add()">Add</button>
            </div>
        </div>
    </div>

    <script src="angular.js"></script>
    <script src="App.js"></script>
    <script src="GroupIndexCtrl.js"></script>
    <script src="GroupAddCtrl.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>
